body {
  color: var(--clr-grey-9);
}
.overlay {
  position: fixed;
  background-attachment: fixed;
  background-image: url("../david-marcu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.overlay::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(53, 72, 77, 0.781);
}
.header {
  text-align: center;
  padding: 5rem 0;
}
@media screen and (max-width: 576px) {
  .header h1 {
    font-size: 2.5rem;
  }
}
.header h1 {
  color: var(--clr-secondary);
  text-transform: uppercase;
  background-color: rgba(158, 192, 207, 0.075);
padding:1rem 0 ;
}
.header h3 {
  color: var(--clr-white);
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 400;
}

/* countdown */
.countdown {
  display: flex;
  justify-content: center;
  margin: 3rem 0;

}
.countdown-box {
  border: 1px solid var(--clr-white);
  margin: 0 10px;
  border-radius: var(--radius-md);
  padding: 10px 0;
  color: var(--clr-white);
  min-width: 60px;
}
.countdown .countdown-box h4 {
  font-size: 0.75rem;
  color:var(--clr-white);
  letter-spacing: normal;
  font-weight: 400;
}
/* subscribe */
.subscribe-form {
  position: relative;
  margin-bottom: 2rem;
}
.subscribe-form .subscribe-email-input {
  border-radius: 30px;
  width: 250px;
  padding:5px 100px 5px 10px;
  font-size: 14px;
}


.subscribe-form .subscribe-btn {
  position: absolute;
  border-radius: 30px;
  width: 100px;
  transform: translateX(-100px);
  text-transform: capitalize;
  background-color: var(--clr-green-light);
  color: var(--clr-white);
  border-color: transparent;
  padding: 5px 0;
}
.subscribe-form .subscribe-btn:hover {
  background-color: var(--clr-green-dark);
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 150px 0;
  }
  .header h1 {
    font-size: 4rem;
  }

  .countdown-box {
    border: 1px solid var(--clr-white);
    margin: 0 10px;
    border-radius: var(--radius-md);
    padding: 20px 0;
    color: var(--clr-white);
    min-width: 60px;
    width: 120px;
    font-size: 2rem;
  }
  .countdown > .countdown-box .time-num {
    font-size: 3rem;
  }
  .countdown > .countdown-box .time-info {
    font-size: 1rem;
  }
  .subscribe-form .subscribe-email-input {
    width: 370px;
    padding:4px 100px 3px 15px;
    font-size: 1rem;
  }
}
.subscribe-alerts {
  padding: 5px;
  position: relative;
  margin-bottom: 2rem;
}

.error-message {
  background-color: var(--clr-red-light);
  border-radius: var(--radius-md);
  padding: 5px 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.sent-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  background-color: var(--clr-green-light);
  border-radius: var(--radius-md);
  display: none;
}

.loading i {
  display: none;
  font-size: 2rem;
  color: var(--clr-grey-9s);
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--clr-green-light);
  padding: 7px 0;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  margin: 0 5px;
  color: var(--clr-grey-9);
  transition: var(--transition-standart);
}
.social-links a:hover {
  background-color: var(--clr-green-light);
  border-color: transparent;
}
#about {
  background-color:  rgba(158, 192, 207, 0.075);
  text-align: center;
}
#about p {
  color: var(--clr-white);
}

.section-header {
  position: relative;
  padding-bottom: 1rem;
}
.section-header::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--clr-secondary);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.section-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-boxes .about-box {
  margin: 10px;
  padding: 1rem 3rem;
}

.about-box .icon {
  margin-bottom: 10px;
}
.about-box .icon i {
  color: var(--clr-white);
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .section-boxes {
    flex-direction: row;
  }
  .about-box{
    width:33%;
  }
}
#contact {
  text-align: center;
}
.contact-info {
  background-color: rgba(158, 192, 207, 0.075);
  border-top: 2px solid var(--clr-green-light);
  border-bottom: 2px solid var(--clr-green-light);
  margin: 2rem auto;
  padding: 1.4rem;
  text-align: left;
  width: 80vw;
  min-width: 320px;
}

.contact-form {
  background-color: rgba(158, 192, 207, 0.075);
  border-top: 2px solid var(--clr-green-light);
  border-bottom: 2px solid var(--clr-green-light);
  text-align: left;
  margin: 2rem auto;
}
.info-item {
  display: flex;
}
iframe{
    width:100%;
}
.icon-wrapper {
  margin-right: 1rem;
  text-align: center;
}
.icon-wrapper i {
  padding-top: 12px;
  border: 1px solid var(--clr-grey-8);
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
  transition: var(--transition-standart);
}
.icon-wrapper i:hover {
  background-color: var(--clr-green-light);
  border-color: transparent;
}
.info-text p {
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
}
.contact-form {
  padding: 1.4rem;
}
.info-text h4 {
  margin-bottom: 5px;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-row label {
  display: block;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.form-item input,
.form-item textarea {
  display: block;
  min-width: 100%;
  margin-bottom: 10px;
  text-align: left;
  color: var(--clr-grey-light);
  padding: 5px;
}
.contact-btn .send-message {
  border-radius: 30px;
  width: 100%;
  text-transform: capitalize;
  background-color: var(--clr-green-light);
  color: var(--clr-white);
  border-color: transparent;
  padding: 5px 0;
  margin: 0 auto;
}
.contact-btn .send-message:hover {
  background-color: var(--clr-green-dark);
}
@media screen and (min-width: 992px) {
  .contact-info-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-info {
    margin-right: 10px;
    width:40%;
  }
  .contact-form{
      width: 60%;
  }
  .form-row {
    flex-direction: row;
  }
  .form-item {
    width: 100%;
    padding: 5px;
  }

}
.footer{
    background-color: rgba(158, 192, 207, 0.075);
    text-align: center;
}
.footer .copyright{
    color:var(--clr-grey-9);
    padding: 1rem 0;
margin-bottom: 0;
}
.back-to-top-icon{
    position: fixed;
    color:var(--clr-grey-9);
    background-color: var(--clr-green-light);
    font-size: 1.45rem;
    right: 10px;
    bottom:10px;
    display: block;
    width:40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    transition: var(--transition-standart);
}
.back-to-top-icon:hover{
    background-color: var(--clr-green-dark);

}
